{% if cart.total_price == 0 %}
  <i class="fa-thin fa-cart-flatbed-empty"></i>
{% else %}
  <i class="fa-solid fa-cart-shopping"></i>
{% endif %}
<span class="border-0 h-px -m-px overflow-hidden p-0 absolute w-px">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="empty:hidden flex items-center justify-center h-6 text-sm absolute w-6 rounded-full bottom-3.5 left-9">
      {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
      {%- endif -%}
      <span class="visually-hidden border-0 h-px -m-px overflow-hidden p-0 absolute w-px">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
