<div class="mt-4 md:mt-8 container mx-auto text-center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="mt-4 md:mt-8">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
